*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
}


section{
  width: 1400px;
  margin-inline: auto;
  padding-block: 10rem;
}



@media (max-width:1460px) {
  section{
    width: 1000px;
  }
}


@media (max-width:1050px) {
  section{
    width: 800px;
  }
}


@media (max-width:860px) {
  section{
    width: 100%;
    padding-inline: 3rem;
  }
}

